@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Source+Sans+Pro:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}

#menu_Navegacao{
font-family: 'Secular One', sans-serif;
display: flex;
align-items: center;
height: 5vh;
border: 1px solid red;
}
#menu {
    font-size: 22px;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.botao_Menu {
    border-radius: 5px;
    position: relative;
    border: 1px solid #c0c0c0;
    min-width: 15rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.link_Menu {
    color: #333;
    text-decoration: none;
    padding: 1px 0;
}
.ul_Informacoes {
    font-size: 16px;
    position: absolute;
    margin-top: 2.2rem;
    background-color: #fff;
    display: none;
    width: 15rem;
    border-radius: 5px;
}

.li_Secundario {
    display: flex;
    flex-direction: column;
    border: 1px solid #c0c0c0;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 5px;
}
.li_Secundario a{
    color: #333;
    text-decoration: none;
}
.li_Secundario a:hover{
    border-radius: 5px;
    background: #333;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}


.botao_Menu:hover .ul_Informacoes {
    display: flex;
    flex-direction: column;
}

.botao_Menu:hover .link_Menu {
    border-radius: 5px;
    background: #333;
    color: #fff;
    text-shadow: 0px 0px 5px #fff;
}
