@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Source+Sans+Pro:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
}
#menu_Navegacao{
font-family: 'Secular One', sans-serif;
display: flex;
align-items: center;
height: 4vh;
border: 1px solid red;
}
.botao_Menu{
    margin: 1vh 15vh 1vh 0;
}
#menu {
    font-size: 18px;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    float: left;
}

#menu li {
    position: relative;
    float: left;
    border: 1px solid #c0c0c0;
}

#menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px;
    
}

#menu li a:hover {
    background: #333;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #CCC;
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    text-shadow: 0px 0px 5px #fff;
}

#menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    display: none;
}

#menu li:hover ul,
#menu li.over ul {
    display: block;
}

#menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}